<% content_for :head do %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'sidebar' %>
<%= stylesheet_link_tag 'font-awesome' %>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SAFETY</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to I18n.t('logout'), destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>
              <%= link_to I18n.t('appointments'), appointments_path %>
            </li>
            <li class="active"><span class="sr-only">(current)</span>
              <%= link_to I18n.t('clients'), clients_path %>
            </li>
            <li>
              <%= link_to I18n.t('calls'), calls_path %>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%= @client.company_name %></h1>
            <p>
            <strong><%= I18n.t('address') %>:</strong>
            <%= @client.address %>
            </p>

            <p>
              <strong><%= I18n.t('interest_level') %>:</strong>
              <%= @client.interest_level %>
            </p>

            <p>
            <strong><%= I18n.t('contact_person') %>:</strong>
            <%= @client.contact_person %>
            </p>

            <p>
            <strong><%= I18n.t('phone_numbers') %>:</strong>
            <%= @client.phone_number %> / <%= @client.mobile_number %>
            </p>

            <p>
            <strong>Email:</strong>
            <%= @client.email %>
            </p>

            <p>
            <strong>Website:</strong>
            <%= @client.website %>
            </p>

            <%= link_to I18n.t('edit'), edit_client_path(@client) %> |
            <%= link_to I18n.t('back'), clients_path %>
            <h2 class="sub-header">Ligações</h2>
            <div class="table-responsive">
              <%= link_to 'Adicionar ligação', new_call_path %>
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th><%= I18n.t('call_date') %></th>
                      <th><%= I18n.t('details') %></th>
                      <th><%= I18n.t('interest_level') %></th>
                      <th><%= I18n.t('next_call') %></th>
                      <th><%= I18n.t('annotation') %></th>
                      <th><%= I18n.t('client') %></th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @client.calls.each do |call| %>
                      <tr>
                        <td><%= call.call_date.strftime("%d/%m/%Y %H:%M") %></td>
                        <td><%= call.details %></td>
                        <td><%= call.next_call.strftime("%d/%m/%Y") %></td>
                        <td><%= call.annotation %></td>
                        <td><%= call.client.company_name %></td>
                        <td><%= link_to 'Show', call %></td>
                        <td><%= link_to 'Edit', edit_call_path(call) %></td>
                        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
