<% content_for :head do %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'sidebar' %>
<%= stylesheet_link_tag 'font-awesome' %>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SAFETY</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to I18n.t('logout'), destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><span class="sr-only">(current)</span>
              <%= link_to I18n.t('appointments'), appointments_path %>
            </li>
            <li>
              <%= link_to I18n.t('clients'), clients_path %>
            </li>
            <li>
              <%= link_to I18n.t('calls'), calls_path %>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Detalhes do Compromisso</h1>
            <p>
              <strong><%= I18n.t ('title') %>:</strong>
              <%= @appointment.title %>
            </p>

            <p>
              <strong><%= I18n.t('description') %>:</strong>
              <%= @appointment.description %>
            </p>

            <p>
              <strong><%= I18n.t('scheduled_date') %>:</strong>
              <%= @appointment.scheduled_date.strftime("%d/%m/%Y %H:%M") %>
            </p>

            <p>
              <strong><%= I18n.t('client') %>:</strong>
              <%= @appointment.client.company_name %>
            </p>

            <%= link_to I18n.t('edit'), edit_appointment_path(@appointment) %> |
            <%= link_to 'Excluir', appointment_path(@appointment), method: :delete, data: { confirm: 'Você tem certeza?' } %> |
            <%= link_to I18n.t('back'), appointments_path %>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
