<% content_for :head do %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'sidebar' %>
<%= stylesheet_link_tag 'font-awesome' %>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SAFETY</a>
    </div>
  </div>
</nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>
              <%= link_to I18n.t('appointments'), appointments_path %>
            </li>
            <li>
              <%= link_to I18n.t('clients'), clients_path %>
            </li>
            <li>
              <%= link_to I18n.t('calls'), calls_path %>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Sign up</h1>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
            <br>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <br>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            <br>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>
          <br>

          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
